.owl-carousel .service-block a {
    display: inline-block;
}
.general-info p{
    text-align: justify;
    font-size: 13pt;
}
.service-block .service-title{
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.my-photo img{
    width: 100%;
    height: auto;
}
.subpage-block ol{
    text-align: justify;
}
.subpage-block ol{
    position: relative;
    line-height: 180%; /*or whatever height you like*/
    margin-left: 1.2em;
    font-size: 13pt;
}

.te-primary .block-title span{
    font-size: 100%;
}

.te-primary h5{
    font-size: 100%;
}

.block-title ol ul{
    position: relative;
    line-height: 180%; /*or whatever height you like*/
}

.block-title span{
    font-size: 100%;
}
.block-title p{
    font-size: 100%;
}

.block-title p{
    font-family: Oswald,Helvetica,sans-serif;
    font-size: 100%;
}

.subpage-block span{
    text-align: justify;
}

.te-primary span{
    font-size: 100%;
}